<footer>
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center">&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
      with help from <a href="http://jcmontenegro.me" target="_blank">Julio Cesar Montenegro</a>
      and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
    </p>
      </div>
    </div>
  </div>
</footer>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/custom.js" | prepend: site.baseurl }}"></script>
