//
// Grid
// --------------------------------------------------

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: $row-max-width;
  *zoom: 1;
	@include clearfix();
	.row{
		width: auto;
    margin-left: -0.9375em;
    margin-right: -0.9375em;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1;
    @include clearfix();
	}
}

.col{
	position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

// Small
@media #{$breakpoint-small} {
	@for $i from 1 through $grid-columns {
	  .sm-#{$i} {
	  	width: 100% / $grid-columns * $i;
	  }
	}
	.col.sm-center{
		@include col-center;
	}
}

// Medium

@media #{$breakpoint-medium} {
	@for $i from 1 through $grid-columns {
	  .md-#{$i} {
	  	width: 100% / $grid-columns * $i;
	  }
	}
	.col.md-center{
		@include col-center;
	}
}

// Large

@media #{$breakpoint-large} {
	@for $i from 1 through $grid-columns {
	  .lg-#{$i} {
	  	width: 100% / $grid-columns * $i;
	  }
	}
	.col.lg-center{
		@include col-center;
	}
}
