//
// Navbar
// --------------------------------------------------

.nav{
	> li{
		>a{
			position: relative;
			display: block;
			padding: 10px 15px;
		}
	}
}

.navbar{
	position: relative;
	min-height: 50px;
	background-color: $gray-lighter;
	ul{
			float: left;
			margin: 0;
			padding-left: 0;
			margin-bottom: 0;
			list-style: none;
		>li{
			float: left;
			position: relative;
			> a{
				color: $gray-light;
				display: block;
				padding: 15px 15px;
				line-height: 20px;
				&:hover{
					text-decoration: none;
					background-color: lighten($gray, 58%);
				}
			}
			
			&.active>a{
				color: $gray-dark;
				background-color: lighten($gray, 55%);
			}
		}
	}
}

.nav-brand{
	float: left;
	padding: 15px 15px;
	line-height: 20px;
	display: block;
	color: $gray-dark;
	&:hover{
		text-decoration:none;
	}
}

@media #{$breakpoint-small-only} {
	.navbar{
		height: 100px;
	}
	.nav-brand{
		width: 100%;
		text-align: center;
	}
}