//
// Variables
// --------------------------------------------------


// Colors
// -------------------------


// Grays
$black:             darken(#000, 100%) !default; // #000
$gray-darker:      lighten(#000, 13.5%) !default; // #222
$gray-dark:        lighten(#000, 20%) !default;   // #333
$gray:             lighten(#000, 33.5%) !default; // #555
$gray-light:       lighten(#000, 60%) !default;   // #999
$gray-lighter:     lighten(#000, 93.5%) !default; // #eee
$white:            lighten(#fff, 100%) !default; // #fff

// Brand
$brand-primary:    #428bca !default;
$brand-success:    #5cb85c !default;
$brand-alert:    #f1391c !default;
$brand-info:       #5bc0de !default;

// Scaffolding
// -------------------------

$body-bg:               #fff !default;
$text-color:            $gray-dark !default;

// Links
// -------------------------

$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;

// Typography
// -------------------------
$body-font-size: 100% !default;
$base-line-height: 1.5 !default;
$rem-base: 16px !default;
$base-font-size: $rem-base !default;

$font-sans-serif: 'Source Sans Pro', Helvetica, Arial, sans-serif !default;
$font-serif: Georgia, Cambria, "Times New Roman", Times, serif !default;
$font-monospace: Consolas, "Liberation Mono", Courier, monospace !default;

$font-size-h1:            floor($base-font-size * 2.25) !default; // ~36px
$font-size-h2:            floor($base-font-size * 1.875) !default; // ~30px
$font-size-h3:            ceil($base-font-size * 1.5) !default; // ~24px
$font-size-h4:            ceil($base-font-size * 1.125) !default; // ~18px
$font-size-h5:            $base-font-size !default;
$font-size-h6:            ceil($base-font-size * 0.75) !default; // ~12px calcu

// Tables
// -------------------------

$table-cell-padding:                 0.5rem !default;
$table-bg:                           transparent !default;
$table-head-bg:                      $gray-lighter !default;
$table-bg-hover:                     lighten($black, 97.5%) !default;;
$table-border-color:                 #ddd !default;

// Buttons
// -------------------------

$btn-font-weight:                normal !default;

$btn-default-color:              $gray-dark !default;
$btn-default-bg:                 transparent !default;
$btn-default-border:             $gray-dark !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-alert-color:              #fff !default;
$btn-alert-bg:                 $brand-alert !default;
$btn-alert-border:             darken($btn-alert-bg, 5%) !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-link-disabled-color:        $gray-light !default;


// Forms
// ------------------------

$input-bg:                    $white !default;
$input-color:                 $gray !default;
$input-border:                #ccc !default;
$input-border-focus:          #66afe9 !default;
$input-color-placeholder:     $gray-light !default;
$input-height-base:           2.75rem !default;

// Code
// ------------------------
$pre-font-size:               0.875rem !default;
$pre-bg:                      lighten($gray, 62%) !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            $gray-light !default;

// Grid
// ------------------------

// grid variables
$grid-columns: 12;
$row-max-width: 71.25em;

// breakpoints
$breakpoint-small: "only screen";
$breakpoint-small-only: "only screen and (max-width: 40em)";
$breakpoint-medium: "only screen and (min-width: 40.063em)";
$breakpoint-large: "only screen and (min-width: 64.063em)";

// Miscellaneous
// -------------------------

// Hr border color
$hr-border:                   $gray-lighter !default;


